fastapi==0.111.1
uvicorn==0.25.0
python-dotenv==1.0.1
langchain==1.0.2
langchain-community==0.3.31
langchain-google-genai==3.0.0
langchain-text-splitters==0.3.11
langchain-chroma==0.2.6
chromadb>=1.0.20
unstructured==0.18.15
